<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partial/head.html')%>    

</head>

<body>
    <%- include('partial/navBar.html')%>

    <div class="container" style="margin-top: 100px; margin-bottom: 20px;">
        <div class="row">
            <div class="col-8">
                <div class="datos">
                    <div class="row">
                        <div class="col-6">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>

                                <div class="form-group">
                                    <select class="form-control">
                                    <option>Default select</option>
                                  </select>
                                </div>

                                <div class="form-group">
                                    <select class="form-control">
                                    <option>Default select</option>
                                  </select>
                                </div>

                                <div class="form-group">
                                    <select class="form-control">
                                    <option>Default select</option>
                                  </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                        </div>

                        <div class="form-group w-100">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>

                        <div class="form-group w-100">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>

                        <div class="form-group w-50">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>


                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col">
                        <div class="datosFacturacion">
                            <h3>
                                DATOS DE FACTURACIÓN
                            </h3>

                            <div class="form-group w-100">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>

                            <div class="form-group w-100">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>

                            <p>Nosotros, adidas Peru SAC podremos ponernos en contacto con usted en relación con productos, eventos y promociones de adidas que pudieran ser de su interés, así como preguntarle su opinión acerca de nuestros productos y servicios.
                                Del mismo modo, podremos ponernos en contacto con usted a través de los canales que haya seleccionado, como pueden ser el correo electrónico, el teléfono, las aplicaciones, los mensajes de textos y el correo ordinario.
                                Para poder ofrecerle una experiencia personalizada óptima, elaboramos perfiles y analizamos las interacciones con adidas. Por ejemplo, analizamos las visitas al sitio web, el comportamiento de compra, el uso de nuestras
                                aplicaciones y realizamos un seguimiento de los enlaces que ha consultado en nuestros correos electrónicos. De este modo, sabemos cuáles son sus intereses y podemos ofrecerle la información y promociones que mejor se adaptan
                                a sus intereses. Si no desea recibir más mensajes o si no quiere seguir utilizando un canal de comunicación en particular (por ejemplo: mensajes de texto, correo electrónico o correo ordinario), siga los pasos que se indican
                                en el mensaje enviado por ese mismo canal de comunicación. Asimismo, también podrá darse de baja de la suscripción desde nuestro sitio web. Para más información, consulte nuestra Política de Privacidad.</p>
                        </div>

                        <hr>

                        <div class="Entrega">
                            <h3>
                                OPCIONES DE ENTREGA
                            </h3>

                            <h6>Entrega: <span class="float-right">Gratis</span></h6>

                            <button type="button" class="btn btn-dark">
                                CONTINUAR
                                <img src="img/img_Productos/FDB.png" class="ml-4">
                                </button>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-4">


                <div class="resumen-pedido d-flex justify-content-center" style="background-color:#ebebeb;">
                    <!-- Informe -->



                    <div style="width: 90%;" class=" informe card p-2">

                        INICIAR SESION

                        <div style="width: 95%;" class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>

                        <div style="width: 95%;" class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <button style="width: 95%;" type="button " class="btn btn-dark ">
                     INICIAR SESION
                    <img src="img/img_Productos/FDB.png " class="ml-4 ">
                    </button> También puedes iniciar sesión en una de estas cuentas

                    </div>
                    <!-- / Informe -->
                </div>

                <div class="mt-4"></div>

                <div class="resumen-pedido d-flex justify-content-center" style="background-color:#ebebeb;">
                    <!-- Informe -->



                    <div style="width: 90%;" class=" informe">

                        <h3>RESUMEN DEL PEDIDO:</h3>

                        <div class="card p-2">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item ">2 PRODUCTOS</li>
                                <li class="list-group-item ">Total del producto S/. 538.00 </li>
                                <li class="list-group-item ">Entrega Gratis</li>
                                <li class="list-group-item ">TotalS/. 538.00</li>
                            </ul>

                            <hr>

                            <div class="row">
                                <div class="col-3">
                                    <img src="img/img_Productos/c0.jpg" class="img-fluid">
                                </div>
                                <div class="col-9">
                                    <h5>ZAPATILLAS ZABALO</h5>
                                    <p>Color: Core Black / Cloud White / Tech Emerald</p>
                                    <p>size: US H 10 / M 11</p>
                                </div>

                                <div class="col-3">
                                    <img src="img/img_Productos/c0.jpg" class="img-fluid">
                                </div>
                                <div class="col-9">
                                    <h5>ZAPATILLAS ZABALO</h5>
                                    <p>Color: Core Black / Cloud White / Tech Emerald</p>
                                    <p>size: US H 10 / M 11</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Informe -->
                </div>
            </div>
        </div>
    </div>
    <%- include('partial/footer.html')%>
    <%- include('partial/scripts.html')%>
</body>

</html>