<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/smooth-scroll.min.js"></script>

    <%- include('partial/head.html')%>      

</head>

<body>

    <%- include('partial/navBar.html')%>

    <div class="MARCO" style="margin-top:80px; margin-left: 10px;">
    
      <div class="row">
            <!-- IMAGEN DETALLE -->
            <div class="col-8">
    
                <div id="d1" style="background-color:#ebebeb;" class="carrousel-contenido">
                    <img src="../img/img_Products/flechaIzquierda.png" alt=""> ATRAS
                    <a href="">inicio</a> /
                    <a href="">originals</a> /
                    <a href="">calzado</a>
                    
                        <!--Carousel Wrapper-->
                        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="4"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="5"></li>
                            </ol>
                            <!--/.Indicators-->

                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                                <!--First slide-->
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="../img/img_Cards/<%= productoElegido.imagenes[0]%>" alt="First slide">
                                </div>
                                <!--/First slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../img/img_Cards/<%= productoElegido.imagenes[1]%>" alt="Second slide">
                                </div>
                                <!--/Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../img/img_Cards/<%= productoElegido.imagenes[2]%>" alt="Third slide">
                                </div>
                                <!--/Third slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../img/img_Cards/<%= productoElegido.imagenes[3]%>" alt="Second slide">
                                </div>
                                <!--/Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../img/img_Cards/<%= productoElegido.imagenes[4]%>" alt="Third slide">
                                </div>
                                <!--/Third slide-->
                            
                            </div>
                            <!--/.Slides-->

                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    
                    </div>
    
                <div class=" Angulo-Imagenes ">
                    <div class="d-flex justify-content-center ">
                        <a data-scroll href="#d1" role="button">GALERIA</a>
                        <a data-scroll href="#d2" role="button">DESCRIPCION</a>
                        <a data-scroll href="#d3" role="button">DETALLES</a>
                        <a data-scroll href="#d4" role="button">VALORACIONES</a>
                    </div>
                    <hr>
                </div>

                <div class="descripcionContainer" style="margin: 30px  30px">
                    <!-- DESCRIPCION -->
                    <div id="d2" class="row ">
                        <div class="col-6 ">
                            <h3><%= productoElegido.nombre%></h3>
                            <h6>ZAPATILLAS INSPIRADAS EN LA FOTOGRAFÍA OJO DE PEZ DEL MUNDO DEL SKATE</h6>
                            <p><%= productoElegido.descripcion%></p>
                        </div>
                        <div class="col-6 ">
                            <img src="../img/img_Cards/<%= productoElegido.imagenes[0]%>" class="img-fluid ">
                        </div>
                    </div>
                </div>
                <div class="detallesContainer" style="margin: 30px  30px">
                    <!-- DETALLES -->
                    <h1 id="d3">DETALLES</h1>
                    <div class="row ">
                
                        <div class="col-6 ">
                            <li>Sistema de amarre de pasadores</li>
                            <li>Exterior en gamuza</li>
                            <li>Puntera Adituff resistente al desgaste</li>
                            <li>Zapatillas de skate flexibles</li>
                        </div>
                        <div class="col-6 ">
                            <li>Suela Geoflex flexible de gran agarre</li>
                            <li>Color del artículo: Core Black / Cloud White / Tech Emerald</li>
                            <li>Número de artículo: FV0694</li>
                        </div>
                    </div>
                </div>
    
                <div class="detallesOtros" style="margin: 30px  30px">
                    <!-- TAMBIÉN PODRÍA INTERESARTE -->
                    <h1 id="d4">TAMBIÉN PODRÍA INTERESARTE</h1>
                    <div class="row ">
                        <div class="col-3 ">
                            <img src="../img/img_Products/v0.jpg " class="img-fluid ">
                        </div>
                        <div class="col-3 ">
                            <img src="../img/img_Products/v1.jpg " class="img-fluid ">
                        </div>
                        <div class="col-3 ">
                            <img src="../img/img_Products/v2.jpg " class="img-fluid ">
                        </div>
                        <div class="col-3 ">
                            <img src="../img/img_Products/v3.jpg " class="img-fluid ">
                        </div>
                    </div>
                </div>
    
            </div>
            <!-- / IMAGEN DETALLE -->
    
    
    

            <!-- CONTENIDO DETALLE -->
            <div class="col-4 ">
                <div style=" position: fixed; " class="contenido ">
                    originals
                    <h2><%= productoElegido.nombre%></h2>
                    <% productoElegido.etiquetas.forEach((item)=>{ %>
                    <p style="display: inline;"> <%= item%> / </p>
                    <% })%>
                    <p><%= productoElegido.precio%><p>
                    <button type="button " class="btn btn-dark ">
                        AÑADIR AL CARRITO
                        <img src="../img/img_Products/flechaIzquierdaOpaco.png " class="ml-4 ">
                    </button>
                </div>
    
    
            </div>
            <!-- /CONTENIDO DETALLE -->
        </div>
    </div>

    <%- include('partial/footer.html')%>
    <%- include('partial/scripts.html')%>
</body>

</html>