<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%- include('partial/head.html')%>    

</head>
<body>

    <%- include('partial/navBar.html')%>
    <div class="container">
        <div class="descripcion" style="margin-top: 100px;">
            <h1 class="article__title">TODOS LOS PRODUCTOS</h1>
            <hr>
        </div>
        <!-- Card deck -->
        <div class="row row-cols-1 row-cols-md-4" style="margin-top: 20px; margin-left: 20px; margin-right: 20px;">
            <% productos.forEach(function(producto) { %>
            <div class="col mb-4">
                
                <!-- Card -->
                <div class="card mb-4 ">
                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="img/img_Cards/<%=producto.imagenes[0] %>" alt="Card image cap">
                        <a href="/producto/<%= producto._id%>">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <% producto.etiquetas.forEach((item)=>{ %>
                        <p class="card-text" style="font-size: 10px; opacity: .5; display: inline;"><%=item %></p>
                        <% })%>
                        <h6 class="card-title" style=""><%=producto.nombre %></h6>
                        <p class="card-text" style="font-size: 10px; opacity: .5;">S/. <%=producto.precio %></p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <% })%>
        </div>
    </div>
    
    <%- include('partial/footer.html')%>
    <%- include('partial/scripts.html')%> 
</body>
</html>