<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/styleNavBar.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white scrolling-navbar fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="../img/img_Logo/adidas.png" width="30" height="30" class="d-inline-block align-top" alt=""
          loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Hombre <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/">Mujer <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/">Niño <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Deporte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Marcas</a>
          </li>
        </ul>
        <!-- Search form -->
        <form class="form-inline my-2 my-lg-0 ml-auto">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Buscar" aria-label="Search">
          <button type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
  </nav>
    <script src="../js/scroll.js"></script>
</body>
</html>
