<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/oferta_flyer.css">
    <title>Document</title>
    
</head>
<body>
    <div class="ofertas">
        <h2>HASTA 40% DE DESCUENTO</h2>
        <p>¡Llegaron las ofertas de mitad de temporada! Aprovecha hasta 40% de descuento en el catálogo seleccionado.</p>
        <button type="button" class="btn btn-white  waves-effect waves-light">
          COMPRAR AHORA 
          <img src="img/img_Products/flechaDerecha.png" alt="flecha" class="ml-4 ">
        </button>
      </div>
</body>
</html>