<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/suscripcion_flyer.css">
</head>
<body>
    <div class="suscripcion">
        <table class="container">
          <tr>
            <td class="frase-suscripcion">
              <h2>SUSCRIBETE, ENTERATE DE LAS NOVEDADES Y OBTEN UN 15% DE DESCUENTO</h2>
            </td>
            <td class="botom-suscripcion">
              <button type="button" class="btn btn-black  waves-effect waves-light">
                Suscribete a nuevos productos
                <img src="img/img_Products/flechaIzquierdaOpaco.png" alt="flecha" class="ml-4 ">
              </button>
            </td>
          </tr>
        </table>
      </div>
</body>
</html>